a,
button,
input,
input:focus,
input:hover,
textarea,
textarea:focus,
textarea:hover,
blockquote,
ul,
ol,
li,
 {
  list-style-type: none;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  transform: translateZ(0);

  -webkit-transform: translateZ(0)
  
}
#main-header .container,
#main-header .row {
  position: relative;
}
#main-header.header-small-icons .buttons button {
  border: none;
  color: #000000;
}
#main-header.header-transparent.nav-scroll #site-navigation,
#main-header.header-transparent-scroll.nav-scroll #site-navigation {
  padding-top: 30px;
}
@media screen and (max-width: 991px) {
  #main-header.header-transparent.nav-scroll #site-navigation,
  #main-header.header-transparent-scroll.nav-scroll #site-navigation {
    padding-top: 0;
  }
}
#main-header.header-transparent {
  background: none;
  box-shadow: none;
}
#main-header.header-transparent-scroll {
  background: #ffffff;
}
#main-header.nav-scroll .site-branding a {
  padding: 22px 0;
}
#main-header.nav-scroll #site-navigation {
  padding-top: 32px;
}
@media screen and (max-width: 991px) {
  #main-header.nav-scroll #site-navigation {
    padding-top: 0;
  }
}
#main-header.nav-scroll #site-navigation #main-nav .menu-item {
  padding-buttom: 10px;
}
#main-header.nav-scroll .buttons {
  margin: 19px 0;
}
#main-header .line {
  position: relative;
}
#main-header .line:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #bbbbbb;
  left: 17.5%;
  top: 50%;
  margin-top: -5px;
}
@media screen and (max-width: 991px) {
  #main-header .line:before {
    display: none;
  }
}
#main-header #search-header-bar {
  display: none;
  background: #f7f7f7;
  height: 45px;
}
#main-header #search-header-bar form {
  display: block;
  width: 100%;
  height: 100%;
}
#main-header #search-header-bar form input {
  display: block;
  width: 100%;
  height: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.85);
  text-transform: uppercase;
}
#main-header #search-header-bar form button {
  position: absolute;
  right: 15px;
  top: 0px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: #81b441;
}
#main-header .site-branding a {
  display: block;
  font-size: 36px;
  line-height: 36px;
  padding: 32px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #222222;
}
#main-header .site-branding a span {
  color: #81b441;
  margin: 0 10px;
}
#main-header #site-navigation {
  padding-top: 40px;
}
#main-header #site-navigation #main-menu {
  float: right;
}
#main-header #site-navigation #main-menu .menu-item {
  display: inline-block;
  position: relative;
  padding: 0 25px 40px;
}
#main-header #site-navigation #main-menu .menu-item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 1200px) {
  #main-header #site-navigation #main-menu .menu-item {
    padding: 0 15px 32px;
  }
}
#main-header #site-navigation #main-menu .menu-item > a {
  padding: 0 0 6px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #222222;
}
#main-header #site-navigation #main-menu .menu-item > a::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  right: 0;
  bottom: 0;
  background: #81b441;
  -webkit-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out;
}
#main-header #site-navigation #main-menu .menu-item.active > a,
#main-header #site-navigation #main-menu .menu-item:hover > a,
#main-header #site-navigation #main-menu .menu-item:focus > a {
  color: #81b441;
}
#main-header #site-navigation #main-menu .menu-item.active > a::before,
#main-header #site-navigation #main-menu .menu-item:hover > a::before,
#main-header #site-navigation #main-menu .menu-item:focus > a::before {
  width: 18px;
}
#main-header #site-navigation #main-menu .menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 60px;
  width: 208px;
  left: 0;
  background: #81b441;
  padding: 15px 0;
}
#main-header #site-navigation #main-menu .menu-item .sub-menu .sub-menu-item {
  height: 45px;
  position: relative;
}
#main-header #site-navigation #main-menu .menu-item .sub-menu .sub-menu-item a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 45px;
  color: #ffffff;
  padding: 0 25px;
}
#main-header #site-navigation #main-menu .menu-item .sub-menu .sub-menu-item a:hover {
  background: rgba(0, 0, 0, 0.1);
}
#main-header #site-navigation #main-menu .menu-item .sub-menu.open {
  display: block;
}
#main-header .buttons {
  margin: 29px 0;
  float: right;
}
#main-header .buttons button {
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #81b441;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #81b441;
  -webkit-transition: all 0.23s ease-in-out;
          transition: all 0.23s ease-in-out;
}
#main-header .buttons button:hover,
#main-header .buttons button.selected {
  color: #ffffff;
  background: #81b441;
}
#main-header .buttons button#menu-toggle {
  margin-right: 15px;
  display: none;
}
@media screen and (max-width: 991px) {
  #main-header .site-branding a {
    padding: 20px 0;
  }
  #main-header #site-navigation {
    padding: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 210px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    display: none;
  }
  #main-header #site-navigation.open {
    display: block;
  }
  #main-header #site-navigation #main-menu {
    float: none;
    display: block;
  }
  #main-header #site-navigation #main-menu .menu-item {
    padding: 0;
    display: block;
    position: relative;
  }
  #main-header #site-navigation #main-menu .menu-item > a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
  }
  #main-header #site-navigation #main-menu .menu-item > a::before {
    display: none;
  }
  #main-header #site-navigation #main-menu .menu-item:last-child > a {
    border-bottom: 0;
  }
  #main-header #site-navigation #main-menu .menu-item:hover a,
  #main-header #site-navigation #main-menu .menu-item:focus a,
  #main-header #site-navigation #main-menu .menu-item.active a {
    border-bottom: 2px solid #81b441;
  }
  #main-header #site-navigation #main-menu .menu-item .sub-menu {
    position: static;
    padding: 0;
  }
  #main-header .buttons {
    margin: 15px 0;
  }
  #main-header .buttons button#menu-toggle {
    display: block;
  }
}