a,
button,
input,
input:focus,
input:hover,
textarea,
textarea:focus,
textarea:hover,
blockquote,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
body {
  background: #fafafa;
}
h1 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  line-height: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 27px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper img {
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
}
@media screen and (max-width: 700px) {
 .img-wrapper img {
    width: 100%;
  }
}
.img-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(129, 180, 65, 0.8);
  text-align: center;
  line-height: 240px;
  font-size: 26px;
  color: #ffffff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
  z-index: 10;
}
.img-wrapper{
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.blog-post {
  background: #f7f7f7;
  margin-bottom: 45px;
}
.blog-post {
  padding: 40px 30px ;
  position: relative;
}
 .blog-post  {
  text-transform: uppercase;
  color: #81b441;
  margin-bottom: 20px;
}
.blog-post {
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 25px;
  line-height: 32px;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}




 .blog-post .btn-more {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  border-right: 96px solid #81b441;
  border-top: 96px solid transparent;
}
 .blog-post .btn-more {
  position: absolute;
  font-size: 36px;
  color: #ffffff;
  top: -45px;
  left: 48px;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
 .blog-post .btn-more:hover i {
  left: 53px;
}
 .blog-post  {
  padding: 15px 35px 30px;
}
.blog-post  {
  float: left;
  margin-right: 15px;
  margin-top: -15px;
  margin-bottom: 35px;
  font-size: 30px;
  color: #81b441;

}

 .info-block h3 {
  text-transform: uppercase;
  color: #222222;
}
 .info-block  {
  width: 30px;
  height: 6px;
  background: #81b441;
  margin: 15px 0 20px;
}
 .info-block h2 {
  text-transform: uppercase;
  color: #222222;
  width: 95%;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
}
 .info-block h2 span {
  color: #81b441;
}
 .info-block p {
  color: #999999;
}
 .info-block p.highlight {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 25px;
}
 .info-block .btn {
  margin-top: 40px;
}

 .blog-post .meta{
  margin-bottom: 30px;
}
 .blog-post .meta h5,
 .blog-post .meta .sep {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #81b441;
  display: inline-block;
}
 .blog-post .meta h5.icon {
  margin-right: 25px;
}
 .blog-post .meta h5.icon i {
  color: #222222;
  margin-right: 10px;
}
 .blog-post .meta .sep {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 12px;
  font-size: 12px;
}